
#menuToggle
{
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;

    z-index: 3;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 54px;
    height: 40px;
    position: fixed;
    top: 43px;
    left: 40px;
    cursor: pointer;
    opacity: 0;
    z-index: 7;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #232323;
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    z-index: 4;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    z-index: 2;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}
body {
    overflow-x: hidden;
}
#bgImage1 {
    height: 175vh;
    min-width: 100vw;
    position: fixed;
    top: -10vh;
    left: 0;
    z-index: -1;
}
#bgImage2 {
    height: 175vh;
    min-width: 100vw;
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: 5;
}
#linkedin {
    position: fixed;
    right: 10px;
    height: 51px;
    top: 33px;
}
#github {
    position: fixed;
    right: 70px;
    top: 38px;
    height: 38px;
}
#linklink {
    position: fixed;
    right: 10px;
    height: 51px;
    top: 33px;
    width: 50px;
    z-index: 10;
}
#gitlink {
    position: fixed;
    right: 70px;
    top: 38px;
    height: 38px;
    width: 39px;
    z-index: 10;
}

#topTitle{
    margin: 17px auto;
    width: 100px;
    text-align: center;
}
#textTitle {
    font-family: 'Bree Serif', serif;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #232323;
    font-size: 28px;
    letter-spacing: 0px;
    /* font-weight: bolder; */
    line-height: 27px;
}
#outterName {
    width: 85vw;
    height: 330px;
    position: fixed;
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    text-align: center;
}
#wholeName{
    font-size: 18vw;
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 14px;
    color: #232323;
}
#last {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 9px;
    -webkit-text-stroke-color: #232323;
}

#bottom {
    z-index: 10;
    color: white;
    position: absolute;
    top: 174vh;
    height: 100vh;
}
#show1{
    position: absolute;
    z-index: 10;
    height: 38vh;
    width: 85vw;
    top: 104vh;
    transform: translate(-50%);
    left: 50vw;
    display: grid;
    grid-template-columns: 32vw 20vw 52vw;
    grid-auto-rows: 20vh 20vh 20vh;

}
#about{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
#about img{
    height: 36vh;
    padding-top: 5px;
    border: 1px solid transparent;
    border-radius: 40px;
    margin-left: -10px;
    margin-top: 20px;
}

#description {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    width: 431px;
    margin-left: -89px;
    color: black;
    border: 3px solid black;
    height: 355px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 25px;
    background-color: wheat;
    font-weight: 600;
    opacity: 0.9;
}
#linkedinabout{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 3px solid black;
    height: 100px;
    text-align: center;
    width: 100px;
    background-color: wheat;
    opacity: 0.9;
    margin-left: -15px;
    margin-top: 26px;
    border-radius: 10px;
}
#gitImg {
    height: 79px;
    margin-top: 9px;
}
#linkImg {
    height: 100px;
    margin-left: -2px;
}

#githubabout{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 3px solid black;
    height: 100px;
    text-align: center;
    width: 100px;
    background-color: wheat;
    opacity: 0.9;
    margin-left: -15px;
    margin-top: 55px;
    border-radius: 10px;
}
#titleText {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 6px;
    font-size: 110px;
    color: wheat;
    margin-top: 65px;
    margin-left: -52px;
    font-weight: 400;
    z-index: 10;
}
#inLast{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #232323;
}
